.#*
.*~
*~
testreports
t1
config.log
makefile
config.status
sc.pdf
talk.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.fdb_latexmk
auto
*.tar.gz
*.tar.bz2
*.tgz
.buildpath
.project
.DS_Store
*.key
lmod.check.txt
