name: test creation of the documentation
on: [push, pull_request]

jobs:
  test_documentation:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
      - name: install sphinx
        run: pip install sphinx
      - name: Build documentation
        run: |
          cd docs
          make
