name: run Lmod tests
on: [push, pull_request]

jobs:
  Lmod_tests:
      runs-on: ${{ matrix.os }}
      strategy:
        matrix:
          os: [ubuntu-latest, macos-latest]
          luaVersion: ["5.1", "5.2", "5.3", "5.4"]
      steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: install dependencies MacOS
        if: matrix.os == 'macos-latest'
        run: brew install coreutils
      - name: install dependencies Linux
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt install tcsh tcl8.6 tcl8.6-dev tcl-dev uuid r-base r-base-dev cmake fish tclsh zsh
      - name: set up lua
        uses: leafo/gh-actions-lua@v8.0.0
        with:
          luaVersion: ${{ matrix.luaVersion }}
      - name: install luarocks
        uses: leafo/gh-actions-luarocks@v4.0.0
      - name: install lua dependencies
        run: |
          luarocks install luaposix
          luarocks install luafileSystem
          luarocks install luajson
          luarocks install lua-term
      - name: set up Hermes
        run: |
         cd /tmp
         git clone https://github.com/rtmclay/Hermes.git
         echo "$PWD/Hermes/bin" >> $GITHUB_PATH
         cd -
      - name: Run tests
        run: tm
      - name: show output of failed tests
        if: ${{ failure() }}
        run: |
         # diff stdout/stderr for all tests in case of failure
         for dir in $(ls -pd rt/* | grep '/$'); do
           echo ">>>> ${dir}/err.txt"
           diff -u ${dir}/t1/*/_err.left ${dir}/t1/*/_err.right || echo
           echo ">>>> ${dir}/out.txt"
           diff -u ${dir}/out.txt ${dir}/t1/*/out.txt || echo
         done
         echo ">>>> end2end output"
         cat rt/end2end/t1/*/t1.log
